@import "../../../styles";

.search-result {
  max-height: 185px;
  overflow-y: scroll;
  border: 1px solid $gray;
  border-radius: 4px;
  position: absolute;
  background: white;
  z-index: 200;
  width: 96%;
}

.search-result-none {
  padding: 4px 14px;
}

.record {
  line-height: 28px;
  display: block;
  padding: 0 14px;
  cursor: pointer;
}

.record:hover {
  background-color: $gray-light;
}

.coin-symbol {
  text-transform: uppercase;
  font-size: 15px;
  color: $brand-primary;
}

.coin-name {
  padding-left: 8px;
  color: $gray-darker;
}
